<h2>Are you sure you want to delete your account></h2>

<h3>After deleting your account, you are not gonna be able to recover your personal data.</h3>


<a asp-action="DeleteConfirmed" method="post" class="btn-danger">Delete</a>
<a asp-action="Details" class="btn-light">Back to details</a>
